@model global::Example.Models.UserProfileModel

@{ ViewBag.Title = "Your profile"; }

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">

        <h1>Your profile</h1>

        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("UserProfile", "Profile", FormMethod.Post, new { role = "form", id="userForm" })) {

                    @* First Name textbox *@
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                    
                    @* Last Name textbox *@
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName)
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>

                    @* Country of birth selection dropdown *@
                    <div class="form-group">
                        @Html.LabelFor(m => m.CountryOfBirthId)
                        @Html.DropDownListFor(m => m.CountryOfBirthId, // Store selected value in Model.DefaultCountryOfBirthId

                                              //
                                              new SelectList(Model.CountriesOfBirth, "Id", "Name", Model.DefaultCountryOfBirthId),

                                              // Text for the first 'default' option
                                              "- Please select your country of birth -",

                                              // A class name to put on the "<select>"
                                              new { @class = "form-control" }
                                             )
                        @Html.ValidationMessageFor(m => m.CountryOfResidenceId)
                    </div>

                    @* Country of residence selection dropdown *@
                    <div class="form-group">
                        @Html.LabelFor(m => m.CountryOfResidenceId)
                        @Html.DropDownListFor(m => m.CountryOfResidenceId, // Store selected value in Model.DefaultCountryOfBirthId

                                              //
                                              Model.CountriesOfResidence,

                                              // Text for the first 'default' option
                                              "- Please select your country of residence -",

                                              // A class name to put on the "<select>"
                                              new { @class = "form-control" }
                                             )
                        @Html.ValidationMessageFor(m => m.CountryOfResidenceId)
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                }
            </div>
        </div>
    </div>
</div>
<script>
    // No client-side validation 
    /*
    $(document).ready(function() {
        $('.input-validation-error').parents('.form-group').addClass('has-error');
        $('.field-validation-error').addClass('text-danger');
    });*/

    // Unobtrusive validation
    $(document).ready(function () {
        var form = $('#userForm')
          , formData = $.data(form[0])
          , settings = formData.validator.settings
          , oldErrorPlacement = settings.errorPlacement
          , oldSuccess = settings.success;

        settings.errorPlacement = function(label, element) {
            oldErrorPlacement(label, element);
            label.parents('.form-group').addClass('has-error');
            label.addClass('text-danger');
        };

        settings.success = function(label) {
            label.parents('.form-group').removeClass('has-error');
            oldSuccess(label);
        };
    });
</script>